let mapleader=","

set showmode
set scrolloff=5
set incsearch
set number
set relativenumber

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- IntelliJ Actions
map <C-o> <Action>(Back)
map <C-n> <Action>(Forward)

map <leader>ll <Action>(ReformatCode)
map <leader>ls <Action>(EditorSortLines)
map <leader>rn <Action>(RenameElement)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>d <Action>(Debug)
map <leader>td <Action>(PhpListenDebugAction)

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-surround'
